body {
    font-family: verdana, sans-serif;
}

.image-container, .mission-description {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    margin-top: 20px;
}

.image-container {
    text-align: center;
}

.mission-title {
    font-weight: bold;
    margin-top: 0px;
}